
#onepiece {
  color:white;
  background-color: #1976d2;
}

#thewitcher{
  color:white;
  background-color: #b71c1c;
}

#mgsv {
  color:white;
  background-color: #b71c1c;
}

#linus {
  color:white;
  background-color: black;
}
